<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>今日のコメント</title>
</head>
<body>
<h3>あなたの一言を呟こう！</h3>
<form th:action="@{/add}" th:object="${comment}" method="post">
	<label for="content">コメント:</label>
	<input type="text" th:field="*{content}">
	<button>コメントする</button>
	<small style="color: red" th:errors="*{content}"></small>
</form>

<br>
<h3>ログ</h3>
<div th:each="comment : ${comments}">　<!--繰り返し処理⇒${comments}から1件ずつ取り出してcomment変数に格納-->
	<div>[[${comment.id}]] - [[${comment.content}]]</div>
</div>
</body>
</html>
