<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

  <!-- ログインメッセージ -->
  <div th:fragment="login">
    <div class="alert alert-danger" th:if="${param.error}">
      <small>お客様IDまたはパスワードが正しくありませんにゃ</small>
    </div>
    <div class="alert alert-success" th:if="${param.register}">
      <small>新しいお客様を登録しましたにゃ</small>
    </div>
    <div class="alert alert-success" th:if="${param.logout}">
      <small>ログアウトしましたにゃ</small>
    </div>
  </div>

  <!-- エラーメッセージ(404 Not Foundなど) -->
  <div th:fragment="error">
    <div class="text-center">
      <div class="display-1" th:text="${status}"></div>
      <div class="text-muted mb-4" th:text="${error}"></div>

      <div class="text-muted">ページを表示できません</div>
      <a th:href="@{/}">&larr; ホームに戻る</a>
    </div>
  </div>

</body>
</html>
